In [2]:
import pandas as pd
df= pd.read_csv("/home/yasmeen/Computer_Vision_program/IMBD.csv")

print(df.head())

                                           movie  \
0                                    The Witcher
1  Mission: Impossible - Dead Reckoning Part One
2                               Sound of Freedom
3                                Secret Invasion
4                           Special Ops: Lioness

                                     genre  runtime certificate  rating  \
0     Action, Adventure, Drama               60 min           A     8.1
1  Action, Adventure, Thriller              163 min          UA     8.0
2     Action, Biography, Drama              131 min       PG-13     7.9
3     Action, Adventure, Drama               47 min      UA 16+     6.2
4      Action, Drama, Thriller                  NaN         NaN     7.5

                                               stars  \
0  ['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...
1  ['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...
2  ['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...
3  ['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...
4  ['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...

                                         description     votes  \
0  Geralt of Rivia, a solitary monster hunter, st...  5,39,085
1  Ethan Hunt and his IMF team must track down a ...  1,06,759
2  The incredible true story of a former governme...    41,808
3  Fury and Talos try to stop the Skrulls who hav...    40,536
4  Joe attempts to balance her personal and profe...     3,203

                    director
0                        NaN
1  ['Christopher McQuarrie']
2   ['Alejandro Monteverde']
3                        NaN
4                        NaN

In [3]:
print("Before dropping nulls", df.shape)

null_rows = df[df.isnull().any(axis=1)]
print("number of rows with nulls", len(null_rows))
df = df.dropna()

print("after dropping nulls:", df.shape)

print(df.head())

Before dropping nulls (129891, 9)
number of rows with nulls 111807
after dropping nulls: (18084, 9)
                                            movie  \
1   Mission: Impossible - Dead Reckoning Part One
2                                Sound of Freedom
5                              They Cloned Tyrone
9                                       The Flash
11               Transformers: Rise of the Beasts

                                      genre  runtime certificate  rating  \
1   Action, Adventure, Thriller              163 min          UA     8.0
2      Action, Biography, Drama              131 min       PG-13     7.9
5       Action, Comedy, Mystery              122 min           R     6.7
9    Action, Adventure, Fantasy              144 min          UA     6.9
11    Action, Adventure, Sci-Fi              127 min          UA     6.1

                                                stars  \
1   ['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...
2   ['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...
5   ['John Boyega, ', 'Jamie Foxx, ', 'Teyonah Par...
9   ['Ezra Miller, ', 'Michael Keaton, ', 'Sasha C...
11  ['Anthony Ramos, ', 'Dominique Fishback, ', 'L...

                                          description     votes  \
1   Ethan Hunt and his IMF team must track down a ...  1,06,759
2   The incredible true story of a former governme...    41,808
5   A series of eerie events thrusts an unlikely t...    14,271
9   Barry Allen uses his super speed to change the...  1,26,445
11  During the '90s, a new faction of Transformers...    62,180

                     director
1   ['Christopher McQuarrie']
2    ['Alejandro Monteverde']
5             ['Juel Taylor']
9         ['Andy Muschietti']
11       ['Steven Caple Jr.']

In [4]:
null_rows = df[df.isnull().any(axis=1)]
print(null_rows)

Empty DataFrame
Columns: [movie, genre, runtime, certificate, rating, stars, description, votes, director]
Index: []

In [28]:
before = len(df)

df = df.drop_duplicates()

after = len(df)

print(f"Duplicates dropped: {before - after} ")
print("After removing duplicates:", df.shape)


print(df.head())

Duplicates dropped: 0
After removing duplicates: (18084, 9)
                                            movie  \
1   Mission: Impossible - Dead Reckoning Part One
2                                Sound of Freedom
5                              They Cloned Tyrone
9                                       The Flash
11               Transformers: Rise of the Beasts

                                      genre  runtime certificate  rating  \
1   Action, Adventure, Thriller              163 min          UA     8.0
2      Action, Biography, Drama              131 min       PG-13     7.9
5       Action, Comedy, Mystery              122 min           R     6.7
9    Action, Adventure, Fantasy              144 min          UA     6.9
11    Action, Adventure, Sci-Fi              127 min          UA     6.1

                                                stars  \
1   ['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...
2   ['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...
5   ['John Boyega, ', 'Jamie Foxx, ', 'Teyonah Par...
9   ['Ezra Miller, ', 'Michael Keaton, ', 'Sasha C...
11  ['Anthony Ramos, ', 'Dominique Fishback, ', 'L...

                                          description     votes  \
1   Ethan Hunt and his IMF team must track down a ...  1,06,759
2   The incredible true story of a former governme...    41,808
5   A series of eerie events thrusts an unlikely t...    14,271
9   Barry Allen uses his super speed to change the...  1,26,445
11  During the '90s, a new faction of Transformers...    62,180

                     director
1   ['Christopher McQuarrie']
2    ['Alejandro Monteverde']
5             ['Juel Taylor']
9         ['Andy Muschietti']
11       ['Steven Caple Jr.']

In [29]:
df.head()

,movie,genre,runtime,certificate,rating,stars,description,votes,director
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']
5,They Cloned Tyrone,"Action, Comedy, Mystery",122 min,R,6.7,"['John Boyega, ', 'Jamie Foxx, ', 'Teyonah Par...",A series of eerie events thrusts an unlikely t...,"14,271",['Juel Taylor']
9,The Flash,"Action, Adventure, Fantasy",144 min,UA,6.9,"['Ezra Miller, ', 'Michael Keaton, ', 'Sasha C...",Barry Allen uses his super speed to change the...,"1,26,445",['Andy Muschietti']
11,Transformers: Rise of the Beasts,"Action, Adventure, Sci-Fi",127 min,UA,6.1,"['Anthony Ramos, ', 'Dominique Fishback, ', 'L...","During the '90s, a new faction of Transformers...","62,180",['Steven Caple Jr.']

In [31]:
df_exploded = df.copy()
df_exploded['genre'] = df_exploded['genre'].str.split(', ')
df_exploded = df_exploded.explode('genre')



df_exploded.head()

,movie,genre,runtime,certificate,rating,stars,description,votes,director
1,Mission: Impossible - Dead Reckoning Part One,Action,163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
1,Mission: Impossible - Dead Reckoning Part One,Adventure,163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
1,Mission: Impossible - Dead Reckoning Part One,Thriller,163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
2,Sound of Freedom,Action,131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']
2,Sound of Freedom,Biography,131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']

In [ ]:

df_exploded['genre'] = df_exploded['genre'].str.strip()
df_exploded['movie'] = df_exploded['movie'].str.strip()

In [52]:
movies_by_genre = df_exploded.groupby('genre')['movie'].unique().reset_index()

movies_by_genre.head()

       genre                                              movie
0     Action  [Mission: Impossible - Dead Reckoning Part One...
1  Adventure  [Mission: Impossible - Dead Reckoning Part One...
2  Animation  [Miraculous - Le film, Resident Evil: Death Is...
3  Biography  [Sound of Freedom, Ford v Ferrari, American Sn...
4     Comedy  [They Cloned Tyrone, The Out-Laws, Guardians o...

In [40]:
avg_rating_by_genre = df_exploded.groupby('genre', as_index=False)['rating'].mean()

avg_rating_by_genre.head(80)

          genre    rating
0        Action  5.828057
1     Adventure  5.936002
2     Animation  6.393315
3     Biography  6.845727
4        Comedy  5.972972
5         Crime  6.205888
6   Documentary  7.133333
7         Drama  6.414548
8        Family  5.923259
9       Fantasy  5.748339
10    Film-Noir  7.186957
11      History  6.847420
12       Horror  5.262259
13        Music  6.487414
14      Musical  6.498605
15      Mystery  6.052822
16         News  6.950000
17   Reality-Tv  6.400000
18      Romance  6.230107
19       Sci-Fi  5.478109
20        Short  6.970732
21        Sport  6.166197
22     Thriller  5.754668
23          War  6.473859
24      Western  5.637202

In [41]:
df_exploded['genre'] = df_exploded['genre'].str.strip().str.title()

In [42]:
import numpy as np
avg_rating_by_genre['rating_group']= np.floor(avg_rating_by_genre['rating']).astype(int)

In [45]:
avg_rating_by_genre.head(100)

          genre    rating  rating_group
0        Action  5.828057             5
1     Adventure  5.936002             5
2     Animation  6.393315             6
3     Biography  6.845727             6
4        Comedy  5.972972             5
5         Crime  6.205888             6
6   Documentary  7.133333             7
7         Drama  6.414548             6
8        Family  5.923259             5
9       Fantasy  5.748339             5
10    Film-Noir  7.186957             7
11      History  6.847420             6
12       Horror  5.262259             5
13        Music  6.487414             6
14      Musical  6.498605             6
15      Mystery  6.052822             6
16         News  6.950000             6
17   Reality-Tv  6.400000             6
18      Romance  6.230107             6
19       Sci-Fi  5.478109             5
20        Short  6.970732             6
21        Sport  6.166197             6
22     Thriller  5.754668             5
23          War  6.473859             6
24      Western  5.637202             5

In [55]:
genre_summary = avg_rating_by_genre.merge(movies_by_genre, on='genre', how='left')


genre_summary.head(30)

,genre,rating,rating_group,movie
0,Action,5.828057,5,[Mission: Impossible - Dead Reckoning Part One...
1,Adventure,5.936002,5,[Mission: Impossible - Dead Reckoning Part One...
2,Animation,6.393315,6,"[Miraculous - Le film, Resident Evil: Death Is..."
3,Biography,6.845727,6,"[Sound of Freedom, Ford v Ferrari, American Sn..."
4,Comedy,5.972972,5,"[They Cloned Tyrone, The Out-Laws, Guardians o..."
5,Crime,6.205888,6,"[The Out-Laws, The Dark Knight, John Wick: Cha..."
6,Documentary,7.133333,7,"[Jackass Forever, Jackass: The Movie, Jackass ..."
7,Drama,6.414548,6,"[Sound of Freedom, The Dark Knight, Dunkirk, B..."
8,Family,5.923259,5,"[The Karate Kid, Harry Potter and the Order of..."
9,Fantasy,5.748339,5,"[The Flash, Avatar: The Way of Water, Spider-M..."
10,Film-Noir,7.186957,7,"[To Have and Have Not, The Night of the Hunter..."
11,History,6.847420,6,"[Dunkirk, Kingudamu, The Woman King, Black Haw..."
12,Horror,5.262259,5,"[The Meg, The Flood, World War Z, From Dusk Ti..."
13,Music,6.487414,6,"[The Bodyguard, Dance Flick, Snipes, Bill & Te..."
14,Musical,6.498605,6,"[Kaho Naa... Pyaar Hai, Prem Ratan Dhan Payo, ..."
15,Mystery,6.052822,6,"[They Cloned Tyrone, Blade Runner 2049, Watchm..."
16,News,6.950000,6,"[An Inconvenient Truth, Before the Flood, Food..."
17,Reality-Tv,6.400000,6,[Longest Third Date]
18,Romance,6.230107,6,"[Bawaal, Shotgun Wedding, A Knight's Tale, Nat..."
19,Sci-Fi,5.478109,5,"[Transformers: Rise of the Beasts, Inception, ..."
20,Short,6.970732,6,[The Hobbit: The Battle of the Five Armies - E...
21,Sport,6.166197,6,"[Warrior, Creed, Creed II, Rocky Balboa, Never..."
22,Thriller,5.754668,5,[Mission: Impossible - Dead Reckoning Part One...
23,War,6.473859,6,"[Guy Ritchie's The Covenant, Sisu, 1917, Im We..."
24,Western,5.637202,5,"[Young Guns, The Old Way, The Harder They Fall..."

In [57]:
genre_summary.to_csv('/home/yasmeen/Computer_Vision_program/IMDB_genre_ratings.csv', index=False)

In [50]:
print("Number of unique genres:", avg_rating_by_genre['genre'].nunique())

Number of unique genres: 25

In [49]:
avg_rating_by_genre.to_csv('/home/yasmeen/Computer_Vision_program/avg_rating_by_genre.csv', index=False)

Number of unique genres: 762